.git
.github
image
pkg
spec
coverage
tmp
.bundle
benchmark_results
data/output_samples
scripts
.dockerignore
.solargraph.yml
.rubocop.yml
Gemfile.lock
**/.DS_Store
.ruby-version
DEVELOPMENT.md
DEVELOPMENT_ja.md
*.gem
